<app-header></app-header>



<div class="container mt-4">
<!--
message
-->
  <div class="row">
    <div class="col-md-12">
      <table class="table table-sm">
        <thead>
        <th>Sr</th>
        <th>Image</th>
        <th>Name</th>
        <th>Color</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Discount</th>
        <th>Subtotal</th>
        </thead>


        <tbody>
        <!--
         louper sur les produit
 -->
        <tr>
          <td>1</td>
          <td><img src="../../../assets/images/delice.jpg" alt="Mahdi" width="50" height="45"></td>
          <td>yaghort</td>
          <td>default</td>
          <td>12DT</td>
          <td>1</td>
          <td>1 % is 12dt</td>
          <td>125DT</td>
        </tr>
        </tbody>
      </table>


      <table class="table table-sm">
        <tr>
          <td> <a href="/checkout" class="btn btn-success"> Check out </a> </td>
          <td width="35%"></td>
          <td> <h5>Tax: 1 DT</h5></td>
          <td> <h5>Grand total: 125DT</h5> </td>
        </tr>
      </table>
    </div>
  </div>
</div>



<app-footer></app-footer>

