<!-- TEAM -->
<section id="team" class="my-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="info-header my-5">
          <h1 class="text-primary py-3">
            Notre équipe
          </h1>
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias laborum numquam aperiam dolores a porro!
          </p>
        </div>
      </div>
    </div>

    <div class="row pt-2">
      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <img src="{{picturePath}}" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>person1</h3>
            <h5 class="text-muted">position</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi nostrum, ab libero voluptas officia.</p>
            <div class="d-flex justify-content-center">
              <div class="p-4">
                <a href="http://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <img src="{{picturePath}}" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>person2</h3>
            <h5 class="text-muted">position</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi nostrum, ab libero voluptas officia.</p>
            <div class="d-flex justify-content-center">
              <div class="p-4">
                <a href="http://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <img src="{{picturePath}}" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>person3</h3>
            <h5 class="text-muted">position</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi nostrum, ab libero voluptas officia.</p>
            <div class="d-flex justify-content-center">
              <div class="p-4">
                <a href="http://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <img src="{{picturePath}}" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>person4</h3>
            <h5 class="text-muted">position</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi nostrum, ab libero voluptas officia.</p>
            <div class="d-flex justify-content-center">
              <div class="p-4">
                <a href="http://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <img src="{{picturePath}}" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>person5</h3>
            <h5 class="text-muted">position</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi nostrum, ab libero voluptas officia.</p>
            <div class="d-flex justify-content-center">
              <div class="p-4">
                <a href="http://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <img src="{{picturePath}}" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>person6</h3>
            <h5 class="text-muted">position</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi nostrum, ab libero voluptas officia.</p>
            <div class="d-flex justify-content-center">
              <div class="p-4">
                <a href="http://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <img src="{{picturePath}}" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>person7</h3>
            <h5 class="text-muted">position</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi nostrum, ab libero voluptas officia.</p>
            <div class="d-flex justify-content-center">
              <div class="p-4">
                <a href="http://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <img src="{{picturePath}}" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>person8</h3>
            <h5 class="text-muted">position</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi nostrum, ab libero voluptas officia.</p>
            <div class="d-flex justify-content-center">
              <div class="p-4">
                <a href="http://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-lg-3 col-md-6">

      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <img src="{{picturePath}}" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>person9</h3>
            <h5 class="text-muted">position</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi nostrum, ab libero voluptas officia.</p>
            <div class="d-flex justify-content-center">
              <div class="p-4">
                <a href="http://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <img src="{{picturePath}}" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>person10</h3>
            <h5 class="text-muted">position</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi nostrum, ab libero voluptas officia.</p>
            <div class="d-flex justify-content-center">
              <div class="p-4">
                <a href="http://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="http://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">

      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
