<app-admin-header></app-admin-header>
<div class="below-header"></div>





<div class="container-fluid"  >

  <div class="row">

    <div class="col-lg-3"></div>
    <div class="col-lg-6">

      <div id="ui" style="background-color: #333;
            padding: 20px;
            margin-top: 30px;
            border-radius: 10px;
            opacity: 0.8; font-family: 'Amiri', serif;">
        <h2 class="text-center text-white">Modifier une category</h2>
        <br>
        <form class="form-group ">
          <label class="text-white">  Nom de la marque à category </label>
          <input type="text" name="Nom" class="form-control" placeholder="Saisir le nom de la category à modifier">


          <br>
          <button type="button" name="Modifier" class="btn btn-primary "><i class="fas fa-sync"></i></button>
        </form>
      </div>
    </div>
    <div class="col-lg-3"></div>


  </div>
</div>
<br>
